// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$accordion-icon-active-color: "#ffffff";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here

.accordion {
  --bs-accordion-active-bg: rgb(0, 73, 152);
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-padding-y: .7rem;
}

.leaflet-popup-content .accordion {
  --bs-accordion-btn-padding-x: .5rem;
  --bs-accordion-btn-padding-y: .5rem;
  --bs-accordion-body-padding-x: .5rem;
  --bs-accordion-body-padding-y: .3rem;
}
