// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$accordion-icon-active-color: #ffffff;
$dropdown-link-active-color: #000;
$dropdown-link-active-bg: white;


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here

:root {
}

.modal {
  --bs-modal-zindex: 999999
}

.offcanvas {
  --bs-offcanvas-width: 550px;
}

#mainLayerOffcanvas .offcanvas-body {
  padding: 0;
}

.navbar {
  z-index: 99999;
}


.js-toggle-layer-panel {
  text-decoration: none;
}

.accordion {
  --bs-accordion-active-bg: var(--bs-primary);
  --bs-accordion-active-color: #ffffff;
  //--bs-accordion-border-radius: 0;
  //--bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-padding-y: .7rem;
}

.leaflet-popup-content .accordion {
  --bs-accordion-btn-padding-x: .5rem;
  --bs-accordion-btn-padding-y: .5rem;
  --bs-accordion-body-padding-x: 1rem;
  --bs-accordion-body-padding-y: .3rem;
}

.form-check {
  //margin-bottom: 0;
  //padding-left: 0;
}


