// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./custom";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here
@import "./styles";
