@use "../node_modules/react-widgets/scss/styles" with (
  $input-height: 2em,

  $components: (
    'Listbox',
    'DropdownList',
    'Combobox',
    'Multiselect',
    'NumberPicker'
  )
);

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$accordion-icon-active-color: #ffffff;

// 3. Include geopartner variables
$primary: #009688;


@import "./custom";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here
@import "./styles";
@import "./themes";


;
