:root {
}

.modal {
  --bs-modal-zindex: 999999
}

.offcanvas {
  --bs-offcanvas-width: 550px;
}

#mainLayerOffcanvas .offcanvas-body {
  padding: 0;
}

.navbar {
  z-index: 99999;
}


.js-toggle-layer-panel {
  text-decoration: none;
}

.accordion {
  --bs-accordion-active-bg: var(--bs-primary);
  --bs-accordion-active-color: #ffffff;
  //--bs-accordion-border-radius: 0;
  //--bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-padding-y: .7rem;
}

.leaflet-popup-content .accordion {
  --bs-accordion-btn-padding-x: .5rem;
  --bs-accordion-btn-padding-y: .5rem;
  --bs-accordion-body-padding-x: 1rem;
  --bs-accordion-body-padding-y: .3rem;
}

.form-check {
  //margin-bottom: 0;
  //padding-left: 0;
}

.feature-attribute-editing-form > .buttons {
  background-color: white;
  bottom: -20px;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 1000;
}

.layer-item {
  border-right: 0 !important;
  border-left: 0 !important;
  background: none !important;
}

#layers li:last-child {
  border-bottom: 0 !important;
}

.leaflet-popup-close-button {
  top: -11px !important;
  right: -11px !important;
  color: var(--bs-black) !important;
  background: var(--bs-white) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-popup-close-button {
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#legend-toast-body {
  max-height: 200px;
  overflow: auto;
}

.baselayer-toggle img {
  max-width: 32px !important;
}

.card.border-danger {
  display: none;
}

.feature-attribute-editing-form .list-group {
  --bs-list-group-bg: transparent;
}

#legend-toast-body {
  max-height: calc(100vh - 150px);
}

.main-navbar {
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1);
}
