:root {
}

.modal {
  //--bs-modal-zindex: 1047
}

.offcanvas {
  --bs-offcanvas-width: 550px;
}

.offcanvas-backdrop {
  z-index: 1100;
}


#mainLayerOffcanvas .offcanvas-body {
  padding: 0;
}



.navbar {
  z-index: 1046;
}


.js-toggle-layer-panel {
  text-decoration: none;
}

.accordion {
  --bs-accordion-active-bg: var(--bs-primary);
  --bs-accordion-active-color: #ffffff;
  //--bs-accordion-border-radius: 0;
  //--bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-padding-y: .7rem;
}

.leaflet-popup-content .accordion {
  --bs-accordion-btn-padding-x: .5rem;
  --bs-accordion-btn-padding-y: .5rem;
  --bs-accordion-body-padding-x: 1rem;
  --bs-accordion-body-padding-y: .3rem;
}

.form-check {
  //margin-bottom: 0;
  //padding-left: 0;
}

.feature-attribute-editing-form > .buttons {
  background-color: white;
  bottom: -20px;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 1000;
}

.layer-item {
  border-right: 0 !important;
  border-left: 0 !important;
  background: none !important;
}

#layers li:last-child {
  border-bottom: 0 !important;
}

.leaflet-popup-close-button {
  top: -11px !important;
  right: -11px !important;
  color: var(--bs-body-color) !important;
  background: var(--bs-body-bg) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip {
  background: var(--bs-tertiary-bg);
  color: #333
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-popup-close-button {
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#legend-toast-body {
  max-height: 200px;
  overflow: auto;
}

.baselayer-toggle img {
  max-width: 32px !important;
}

.card.border-danger {
  display: none;
}

.feature-attribute-editing-form .list-group {
  --bs-list-group-bg: transparent;
}

#legend-toast-body {
  max-height: calc(100vh - 150px);
}

.main-navbar {
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1);
}

.leaflet-tooltip p {
  margin-bottom: 0 !important;
}

.leaflet-container {
  font-family: $font-family-base !important;
}

.leaflet-control-simpleMapScreenshoter {
  border: 1px solid rgba(0, 0, 0, .175) !important;
}

.leaflet-control-simpleMapScreenshoter a {
  border: none !important;
  background-image: none !important;
}
.leaflet-right .leaflet-control {
  margin-right: 0.75rem;
}

.baselayer-drawer-item-shadow {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: var(--bs-primary) 0 0 2px 3px inset;
  border-radius: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

.rw-multiselect-taglist {
  align-items: center !important;
}

.rw-multiselect-tag {
  margin-top: 0 !important;
}

.tt-hint,.tt-query,.typeahead {
  padding: .375rem .75rem !important;
  line-height: inherit !important;
}

.rw-widget-input {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  box-shadow: none !important;
}

.rw-list-option {
  color: var(--bs-body-color) !important;
}

.rw-popup {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.rw-multiselect-tag {
  box-shadow: none !important;
  color: var(--bs-body-color) !important;
  background-color: var(--bs-secondary-bg) !important;
  border: none !important;
}
.rw-list-option-create:hover, .rw-list-option:hover {
  background-color: var(--bs-secondary-bg) !important;
  border: var(--bs-border-width) solid var(--bs-secondary-bg) !important;
}

.filter-sub-block {
  border-radius: 0.375rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
