/* adjust colors for geopartner */
[data-bs-theme="light"] .btn-primary {
    color: var(--bs-btn-active-color);
}

[data-bs-theme="dark"] .btn-primary {
    color: var(--bs-btn-active-color);
}


/* Dark mode for maps */

/* Forvaltningskort */
[data-bs-theme="dark"] img.leaflet-tile[src^="/api/dataforsyningen/forvaltning2"] {
    filter: invert(1) hue-rotate(180deg) brightness(1.5);
}

/* Matrikelkort */
[data-bs-theme="dark"]
    img.leaflet-tile[src^="/api/datafordeler/Matrikel/MatrikelGaeldendeOgForeloebigWMS/1.0.0/WMS"] {
    filter: invert(1) hue-rotate(180deg) brightness(1.5);
}

/* Topografisk kort */
[data-bs-theme="dark"] img.leaflet-tile[src^="https://dk.gc2.io/mapcache/baselayers/tms/1.0.0/geodk.bright"]
{
    filter: invert(1) hue-rotate(180deg) brightness(1.5);
}


/* leaflet*/
[data-bs-theme="dark"] .leaflet-control-locate a,
[data-bs-theme="dark"] .leaflet-control-zoom a,
[data-bs-theme="dark"] .leaflet-bar a,
[data-bs-theme="dark"] .leaflet-control a,
[data-bs-theme="dark"] .leaflet-draw-draw-polyline,
[data-bs-theme="dark"] .leaflet-draw-draw-polygon,
[data-bs-theme="dark"] .leaflet-draw-draw-rectangle,
[data-bs-theme="dark"] .leaflet-draw-draw-circle,
[data-bs-theme="dark"] .leaflet-draw-draw-marker,
[data-bs-theme="dark"] .leaflet-draw-draw-circlemarker,
[data-bs-theme="dark"] .leaflet-draw-edit-edit,
[data-bs-theme="dark"] .leaflet-control-attribution,
[data-bs-theme="dark"] .leaflet-draw-edit-remove {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-dark-text-emphasis);
}

[data-bs-theme="dark"] a.leaflet-disabled {
    background-color: var(--bs-light-border-subtle);
}

