[submodule "extensions/keplergl"]
	path = extensions/keplergl
	url = https://github.com/sashuk/keplegl.git
[submodule "extensions/watsonc"]
	path = extensions/watsonc
	url = https://github.com/sashuk/watsonc.git
