<style>
    .history-control {
        display: {{_displayHistory}} !important;
    }

    .leaflet-control-locate {
        display: {{_displayLocation}} !important;
    }

    #offcanvasLayerControlBtn {
        display: {{_displayLayer}} !important;
    }

    .place-search {
        display: {{_displaySearch}} !important;
    }

    .legend-btn {
        display: {{_displayLegend}} !important;
    }

    .baselayer-toggle {
        display: {{_displayBackground}} !important;
    }

    .full-screen-btn {
        display: {{_displayFullscreen}} !important;
    }

    .about-btn {
        display: {{_displayAbout}} !important;
    }

    .reset-btn {
        display: {{_displayReset}} !important;
    }

    .leaflet-control-measurements {
        display: {{_displayMeasurement}} !important;
    }

    .leaflet-clear-map {
        display: {{_displayClear}} !important;
    }

    .leaflet-control-boxzoom {
        display: {{_displayBox}} !important;
    }

    .sign-in-btn {
        display: {{_displaySignin}} !important;
    }

    .navbar-toggler {
        display: {{_displayBurger}} !important;

    }
</style>
<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>
</div>

<!-- About Modal -->
<div class="modal" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modalLabel">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="about-modalLabel">{{About}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{Close}}"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    {{{aboutBox}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="click-modalLabel">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="login-modalLabel">{{Sign in}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{Close}}"></button>
            </div>
            <div class="modal-body" id="login-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-transparent fade-then-dragging pointer-event pe-none">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span class="d-none d-md-inline">{{brandName}}</span>
        </a>
        <div class="navbar-nav flex-row gap-1 flex-grow-1">
            <button id="offcanvasLayerControlBtn"
                    class="btn btn-primary text-nowrap pe-auto" type="button"
            >
                <span class="d-none d-md-inline">Menu</span> <i class="bi bi-arrow-bar-right"></i>
            </button>
            <div class="input-group d-none justify-content-end me-2 pe-auto" id="edit-tool-group">
                <span class="input-group-text"><i class="bi bi-pencil"></i></span>
                <button id="offcanvasEditBtn"
                        class="btn btn-secondary nav-edit-btn edit-attr-btn" disabled type="button"
                >
                    <span class="d-none d-md-inline">Form</span> <i class="bi bi-arrow-bar-right"></i>
                </button>
                <button id="editStopBtn"
                        class="btn btn-danger nav-edit-btn" type="button"
                >
                    <i class="bi bi-slash-circle"></i> <span class="d-none d-md-inline">{{Cancel}}</span>
                </button>
            </div>

        </div>
        <button class="navbar-toggler ms-auto pe-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end flex-grow-0 pe-auto" id="navbarSupportedContent">
            <form class="mt-3 mt-sm-0 place-search" role="search">
                <div class="places">
                    <input class="form-control me-2 custom-search typeahead" id="custom-search" type="text"
                           placeholder="Search" aria-label="Search">
                    <i class="bi bi-x-lg text-dark" id="searchclear"></i>
                </div>
            </form>
            <ul class="navbar-nav ms-sm-2 mt-sm-0 ms-0 mt-3 navbar-tool-btn">
                <li class="legend-btn" style="display: {{_displayLegend}}">
                    <button id="btn-show-legend-in-map" data-module="legend"
                            class="btn btn btn-light">{{Legend}}</button>
                </li>
                <li class="nav-item reset-btn">
                    <a class="nav-link" id="btn-reset" href="#">Reset</a>
                </li>
                <li class="nav-item about-btn">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#about-modal" href="#">{{About}}</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <button class="btn btn-primary sign-in-btn d-none ms-2" data-bs-toggle="modal"
                        data-bs-target="#login-modal">
                    <i class="bi bi-person"></i><span class="gc2-session-btn-text"> {{Sign in}}</span>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="fade-then-dragging">

    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="mainLayerOffcanvas"
         style="z-index: 999990">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="pe-2 ps-2">
                <div id="layers"></div>
                <div id="layersAlt"></div>
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasLayerDesc"
         style="z-index: 999991">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="offcanvas-layer-desc-container"></div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasInfo"
         style="z-index: 999992">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="offcanvas-info-container"></div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvas-edit-start"
         style="z-index: 999993">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Edit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"></div>
    </div>

    <div class="offcanvas offcanvas-bottom" data-bs-backdrop="false" tabindex="-1" id="offcanvas-edit-bottom"
         style="height: 50vh">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"></div>
    </div>

</div>

<div class="toast-container bottom-0 end-0 p-3">
    <div id="info-toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="info-toast-body"></div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3 pb-5">
    <div id="legend-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{Legend}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="legend">
        </div>
    </div>
</div>
