<!-- override standard styles -->
<style>
    #legend-container, #header {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }

    .deactiveBtn {
        pointer-events: none;
        opacity: 0.3 !important;
    }
    .point-popup {
        width: 300px;
    }

</style>

<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>

    <div id="legend-container" style="position: absolute; bottom: 5px; left: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.7); -webkit-transform-origin:left bottom">
        <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#legend" aria-expanded="false">Vis/skjul signatur</button>
        <div id="legend" class="collapse in"></div>
    </div>
    <div id="scale" style="position: absolute; bottom: 5px; right: 10px; font-size: 0.8em;"></div>
</div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation" data-autohide="false" data-recalc="false" style="overflow: hidden">

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">{{brandName}}</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#about-model">{{About}}</a></li>
                    <!--<li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#about-model">About</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                            <li><a href="javascript:void(0)">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>

    <div id="side-panel">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="main-tabs">
                <li role="presentation" class="active"><a href="#search-content" aria-controls="search-content" role="tab" data-toggle="tab">{{Search}}</a></li>
                <li role="presentation"><a href="#info-content" aria-controls="info-content" role="tab" data-toggle="tab">{{Info}}</a></li>
                <li role="presentation"><a href="#layer-content" aria-controls="" role="tab" data-toggle="tab">{{Layers}}</a></li>
                <!--<li role="presentation"><a href="#baselayer-content" aria-controls="" role="tab" data-toggle="tab">{{Baselayers}}</a></li>-->
                <!--<li role="presentation"><a href="#legend-content" aria-controls="" role="tab" data-toggle="tab">{{Legend}}</a></li>-->
                <!--<li role="presentation"><a href="#draw-content" aria-controls="" role="tab" data-toggle="tab">{{Draw}}</a></li>-->
                <li role="presentation"><a href="#print-content" aria-controls="" role="tab" data-toggle="tab">Print</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-content">
                    <div role="tabpanel" class="tab-pane active" id="place-search">
                        <div id="places">
                            <input id="custom-search" class="typeahead" type="text" placeholder="Søg på adresse eller sted">
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="conflict-search">

                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="info-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Når du laver en søgning på antal indbygere, vises resultatet her.
                    </div>

                    <div class="togglebutton" style="display: none">
                        <label>
                            <input id="advanced-info-btn" type="checkbox"> Avanceret søgning
                        </label>
                    </div>
                    <div id="buffer" style="display: none">
                        <div>
                            <label for="buffer-value" class="control-label">Buffer</label>
                            <input id="buffer-value" class="form-control">
                            <div id="buffer-slider" class="slider shor"></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div id="detail-data-r-container" class="panel-body">
                            <table id="detail-data-r" class="table">
                                <caption>Placering</caption>
                                <tr>
                                    <td>Adresse</td>
                                    <td class="r-adr-val">-</td>
                                </tr>
                                <tr>
                                    <td>Koordinat</td>
                                    <td id="r-coord-val">-</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div id="detail-data-p-container" class="panel-body">
                            <table id="detail-data-p" class="table">
                                <caption>Befolkningsinformation</caption>
                                <tr>
                                    <td>500 m buffer</td>
                                    <td class="r500-val">-</td>
                                </tr>
                                <tr>
                                    <td>1000 m buffer</td>
                                    <td class="r1000-val">-</td>
                                </tr>
                                <tr>
                                    <td>Tegnet opland</td>
                                    <td id="polygon-val">-</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <a id="r-url-email" href="javascript:void(0)" class="btn btn-primary disabled"><i class="material-icons" style="font-size: 18px">mail_outline</i> Email</a>
                    <a id="r-url-link" target="_blank" href="javascript:void(0)" class="btn btn-primary disabled"><i class="material-icons" style="font-size: 18px">link</i> Link</a>


                    <div id="info-box">
                        <div id="modal-info-body">
                            <ul class="nav nav-tabs" id="info-tab"></ul>
                            <div class="tab-content" id="info-pane"></div>
                        </div>
                    </div>
                    <table id="dtable" data-show-toggle="true"></table>

                </div>
                <div role="tabpanel" class="tab-pane" id="layer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tænde og slukke for kortlag.
                    </div>
                    <div class="form-group">
                        <div id="layers" role="tablist"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="baselayer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du vælge baggrundskort.
                    </div>
                    <div class="panel panel-default">
                        <div class="form-group">
                            <div class="panel-body">
                                <div id="base-layer-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="legend-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her vises signature for tændte kortlag..
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--
                                                        <div id="legend"></div>
                            -->

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="draw-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tegne dit eget kort.
                    </div>
                    <div class="alert alert-dismissible alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        TODO. Gem kortet i browserens data store.
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input id="draw-btn" type="checkbox"> Tegning
                        </label>
                    </div>
                    <div class="panel panel-default" id="draw-panel">
                        <div class="panel-body">
                            <div id="draw-table"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="print-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du printe dit kortet.
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="togglebutton">
                                <label>
                                    <input id="print-btn" type="checkbox"> Aktiver print
                                </label>
                            </div>
                            <div class="btn-toolbar bs-component" style="margin: 0;">
                                <div class="btn-group">
                                    <button id="start-print-btn" class="btn btn-raised" style="width: 130px" data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> Make PDF
                                    " disabled><i class='fa fa-cog fa-lg'></i> Make PDF
                                    </button>
                                </div>
                                <fieldset disabled id="get-print-fieldset">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-raised" id="download-pdf"><i class="material-icons" style="font-size: 18px">file_download</i> Download</a>
                                        <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a target="_blank" href="javascript:void(0)" id="open-pdf">Open PDF</a></li>
                                            <li><a target="_blank" href="javascript:void(0)" id="open-html">Open HTML page</a></li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>
                            <div>
                                <form class="form-horizontal" id="print-form">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="select-scale" class="col-md-2 control-label">Scale</label>

                                            <div class="col-md-10">
                                                <select id="select-scale" class="form-control" disabled></select>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none">
                                            <label class="col-md-2 control-label">Template</label>
                                            <div class="col-md-10" id="print-tmpl"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Page size</label>
                                            <div class="col-md-10" id="print-size"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Orientation</label>
                                            <div class="col-md-10" id="print-orientation"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="print-title" class="col-md-2 control-label">Title</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="print-title" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none">
                                            <label for="print-comment" class="col-md-2 control-label">Comment</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" rows="30" id="print-comment" disabled></textarea>
                                                <span class="help-block">The comment will be placed on the PDF.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="add-legend-btn" type="checkbox" disabled> {{Show legend on print}}
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="help-content">...</div>

            </div>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-top" id="navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<!-- About Modal -->
<div class="modal fade" id="about-model" tabindex="-1" role="dialog" aria-labelledby="about-modelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="about-modelLabel">{{About}}</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>