<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }

    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    #legend, #header {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden; top: 30px; left:30px; border: 1px solid black">

    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
    <div id="header" style="position: absolute; display:block; width: 220px; height: 100%; background-color: white; bottom: 0; right: 0px">
        <div style="position: absolute; top: 10px; left: 10px;"><img style="width: 90px" src="http://www.cowi.dk/Style%20Library/Cowi/img/logo.png"></div>
        <b id="title" style="position: absolute; top: 20px; left: 10px;"></b>
        <p id="comment" style="position: absolute; top: 40px; padding-left: 10px; padding-right: 10px; width: 100%;"></p>

    </div>
    <div id="legend" style="position: absolute; top: 5px; left: 5px; padding: 10px; background-color: white"></div>
    <div id="scalebar" style="position: absolute; bottom: 15px; right: -20px;"></div>
    <div id="scale" style="position: absolute; bottom: 5px; right: 10px; font-size: 0.8em;"></div>
</div>
<div id="test" style="position: absolute; top: 240px; left: 140px; z-index: 1"></div>

<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation" data-autohide="false" data-recalc="false" style="overflow: hidden; display: none">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">Geo Fyn A/S</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)">Link</a></li>
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Action</a></li>
                            <li><a href="javascript:void(0)">Another action</a></li>
                            <li><a href="javascript:void(0)">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                            <li><a href="javascript:void(0)">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="side-panel">
        <div id="top">
            <div id="progress-container"><span id="progress"></span><span id="spinner">&nbsp;<span><img
                    src='http://www.gifstache.com/images/ajax_loader.gif' class='spinner'/></span></span></div>
        </div>
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="main-tabs">
                <li role="presentation" class="active"><a href="#search-content" aria-controls="search-content" role="tab" data-toggle="tab">{{Search}}</a></li>
                <li role="presentation"><a href="#info-content" aria-controls="info-content" role="tab" data-toggle="tab">{{Info}}</a></li>
                <li role="presentation"><a href="#layer-content" aria-controls="" role="tab" data-toggle="tab">{{Layers}}</a></li>
                <li role="presentation"><a href="#baselayer-content" aria-controls="" role="tab" data-toggle="tab">{{Baselayers}}</a></li>
                <li role="presentation"><a href="#legend-content" aria-controls="" role="tab" data-toggle="tab">{{Legend}}</a></li>
                <li role="presentation"><a href="#draw-content" aria-controls="" role="tab" data-toggle="tab">{{Draw}}</a></li>
                <li role="presentation"><a href="#print-content" aria-controls="" role="tab" data-toggle="tab">Print</a></li>
                <li role="presentation"><a href="#help-content" aria-controls="" role="tab" data-toggle="tab">{{Help}}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-content">
                    <div role="tabpanel" class="tab-pane active" id="place-search">
                        <div class="alert alert-dismissible alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Søg på adresse og matrikelnr.
                        </div>
                        <div id="places">
                            <input id="custom-search" class="typeahead" type="text" placeholder="{{Address}}">
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="conflict-search">

                    </div>


                </div>
                <div role="tabpanel" class="tab-pane" id="info-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{{Info text}}}
                    </div>

                    <div class="togglebutton">
                        <label>
                            <input id="advanced-info-btn" type="checkbox"> Avanceret søgning
                        </label>
                    </div>
                    <div id="buffer" style="display: none">
                        <div>
                            <label for="buffer-value" class="control-label">Buffer</label>
                            <input id="buffer-value" class="form-control">
                            <div id="buffer-slider" class="slider shor"></div>
                        </div>
                    </div>


                    <div id="info-box">
                        <div id="modal-info-body">
                            <ul class="nav nav-tabs" id="info-tab"></ul>
                            <div class="tab-content" id="info-pane"></div>
                        </div>
                    </div>
                    <table id="dtable" data-show-toggle="true"></table>

                </div>
                <div role="tabpanel" class="tab-pane" id="layer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tænde og slukke for kortlag.
                    </div>
                    <div class="form-group">
                        <div id="layers" role="tablist"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="baselayer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du vælge baggrundskort.
                    </div>
                    <div class="panel panel-default">
                        <div class="form-group">
                            <div class="panel-body">
                                <div id="base-layer-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="legend-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her vises signature for tændte kortlag..
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">


                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="draw-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tegne dit eget kort.
                    </div>
                    <div class="alert alert-dismissible alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        TODO. Gem kortet i browserens data store.
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input id="draw-btn" type="checkbox"> Tegning
                        </label>
                    </div>
                    <div class="panel panel-default" id="draw-panel">
                        <div class="panel-body">
                            <div id="draw-table"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="print-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du printe dit kortet.
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input id="print-btn" type="checkbox"> Aktiver print
                        </label>
                    </div>
                    <div>
                        <button id="start-print-btn" class="button">print</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="help-content">...</div>

            </div>
        </div>
    </div>
</nav>
