<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>
</div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation" data-autohide="false" data-recalc="false" style="overflow: hidden">
    <div id="info-modal" style="width: 100%; height: 100%; display: block; background-color: white; -webkit-box-sizing: border-box; box-sizing: border-box; display: none">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">×</button>
            <h2 class="modal-title"></h2>
        </div>
        <div id="info-modal-body-wrapper">
            <div class="modal-body"></div>
            <div id="info-modal-legend" class="legend"></div>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">{{brandName}}</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#about-model">{{About}}</a></li>
                    <!--<li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#about-model">About</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                            <li><a href="javascript:void(0)">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>

    <div id="side-panel">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="main-tabs">
                <li role="presentation" class="active"><a href="#search-content" aria-controls="search-content" role="tab" data-toggle="tab">{{Search}}</a></li>
                <li role="presentation"><a href="#info-content" aria-controls="info-content" role="tab" data-toggle="tab">{{Info}}</a></li>
                <li role="presentation"><a href="#layer-content" aria-controls="" role="tab" data-toggle="tab">{{Layers}}</a></li>
                <li role="presentation"><a href="#baselayer-content" aria-controls="" role="tab" data-toggle="tab">{{Baselayers}}</a></li>
                <li role="presentation"><a href="#legend-content" aria-controls="" role="tab" data-toggle="tab">{{Legend}}</a></li>
                <li role="presentation"><a href="#draw-content" aria-controls="" role="tab" data-toggle="tab">{{Draw}}</a></li>
                <li role="presentation"><a href="#print-content" aria-controls="" role="tab" data-toggle="tab">{{Print}}</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content main-content">
                <div role="tabpanel" class="tab-pane active" id="search-content">
                    <div role="tabpanel" class="tab-pane active" id="place-search">
                        <div class="alert alert-dismissible alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{Search places}}
                        </div>
                        <div class="places">
                            <div class="btn-group">
                                <input id="custom-search" class="custom-search typeahead" type="text" placeholder="{{Address}}">
                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="info-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{{Info text}}}
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="togglebutton">
                                <label>
                                    <input id="advanced-info-btn" type="checkbox"> {{Activate advanced query}}
                                </label>
                            </div>
                            <div id="buffer" style="display: none">
                                <div>
                                    <label for="buffer-value" class="control-label">{{Buffer}}</label>
                                    <input id="buffer-value" class="form-control">
                                    <div id="buffer-slider" class="slider shor"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="info-box">
                        <div id="modal-info-body">
                            <ul class="nav nav-tabs" id="info-tab"></ul>
                            <div class="tab-content" id="info-pane"></div>
                        </div>
                    </div>
                    <table id="dtable" data-show-toggle="true"></table>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="layer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{Help text overlays}}
                    </div>

                    <button id="layer-search-btn" class="btn btn-raised" style="width: 100%"><i class='material-icons'>&#xE8B6;</i></button>

                    <div class="form-group" id="layers" role="tablist"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="baselayer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{Help text baselayers}}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group" id="base-layer-list"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="legend-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{Help text legend}}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="legend" class="legend"></div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="draw-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{Help text draw}}
                    </div>
                    <div class="panel panel-default" id="draw-panel">
                        <div class="panel-body">
                            <div class="togglebutton">
                                <label>
                                    <input id="draw-btn" type="checkbox"> {{Activate drawing tools}}
                                </label>
                            </div>
                            <div id="draw-table"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="print-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{Help text print}}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="togglebutton">
                                <label>
                                    <input id="print-btn" type="checkbox"> {{Activate print tools}}
                                </label>
                            </div>
                            <div class="btn-toolbar bs-component" style="margin: 0;">
                                <div class="btn-group">
                                    <button id="start-print-btn" class="btn btn-raised" style="width: 130px" data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> {{Make PDF}}
                                    " disabled><i class='fa fa-cog fa-lg'></i> {{Make PDF}}
                                    </button>
                                </div>
                                <fieldset disabled id="get-print-fieldset">
                                    <div class="btn-group">
                                        <a target="_blank" href="javascript:void(0)" class="btn btn-primary btn-raised" id="open-pdf">{{Open PDF}}</a>
                                        <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0)" id="download-pdf">{{Download}}</a></li>
                                            <li><a target="_blank" href="javascript:void(0)" id="open-html">{{Open HTML page}}</a></li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>
                            <div>
                                <form class="form-horizontal" id="print-form">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="select-scale" class="col-md-2 control-label">{{Scale}}</label>

                                            <div class="col-md-10">
                                                <select id="select-scale" class="form-control" disabled></select>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none">
                                            <label class="col-md-2 control-label">{{Template}}</label>
                                            <div class="col-md-10" id="print-tmpl"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{Page size}}</label>
                                            <div class="col-md-10" id="print-size"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{Orientation}}</label>
                                            <div class="col-md-10" id="print-orientation"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="print-title" class="col-md-2 control-label">{{Title}}</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="print-title" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="print-comment" class="col-md-2 control-label">{{Comment}}</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" rows="3" id="print-comment" disabled></textarea>
                                                <span class="help-block">{{The comment will be placed on the PDF}}</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="add-legend-btn" type="checkbox" disabled> {{Show legend on print}}
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-top" id="navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<!-- About Modal -->
<div class="modal fade" id="about-model" tabindex="-1" role="dialog" aria-labelledby="about-modelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="about-modelLabel">{{About}}</h4>
            </div>
            <div class="modal-body">
                {{{aboutBox}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>