<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>
</div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation" data-autohide="false" data-canvas="true" style="overflow: hidden">
    <a class="navmenu-brand" href="#">Geo Fyn A/S</a>
    <div id="side-panel">
        <div id="top">
            <div id="progress-container"><span id="progress"></span><span id="spinner">&nbsp;<span><img
                    src='http://www.gifstache.com/images/ajax_loader.gif' class='spinner'/></span></span></div>
        </div>
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="main-tabs">
                <li role="presentation" class="active"><a href="#search-content" aria-controls="search-content" role="tab" data-toggle="tab">{{Search}}</a></li>
                <li role="presentation"><a href="#info-content" aria-controls="info-content" role="tab" data-toggle="tab">{{Info}}</a></li>
                <li role="presentation"><a href="#layer-content" aria-controls="" role="tab" data-toggle="tab">{{Layers}}</a></li>
                <li role="presentation"><a href="#baselayer-content" aria-controls="" role="tab" data-toggle="tab">{{Baselayers}}</a></li>
                <li role="presentation"><a href="#legend-content" aria-controls="" role="tab" data-toggle="tab">{{Legend}}</a></li>
                <li role="presentation"><a href="#draw-content" aria-controls="" role="tab" data-toggle="tab">{{Draw}}</a></li>
                <li role="presentation"><a href="#help-content" aria-controls="" role="tab" data-toggle="tab">{{Help}}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-content">
                    <ul class="nav nav-tabs" role="tablist" id="search-tabs">
                        <li role="presentation" class="active"><a href="#place-search" aria-controls="place-search" role="tab" data-toggle="tab">Place</a></li>
                        <li role="presentation"><a href="#conflict-search" aria-controls="conflict-search" role="tab" data-toggle="tab">Conflict</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="place-search">
                            <div class="alert alert-dismissible alert-info" role="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                Søg på adresse og matrikelnr.
                            </div>
                            <div id="places">
                                <input id="custom-search" class="typeahead" type="text" placeholder="{{Address}}">
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="conflict-search">

                        </div>
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane" id="info-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{{Info text}}}
                    </div>

                    <div class="togglebutton">
                        <label>
                            <input id="advanced-info-btn" type="checkbox"> Advanceret søgning
                        </label>
                    </div>
                    <div id="buffer" style="display: none">
                        <div>
                            <label for="buffer-value" class="control-label">Buffer</label>
                            <input id="buffer-value" class="form-control">
                            <div id="buffer-slider" class="slider shor"></div>
                        </div>
                    </div>


                    <div id="info-box">
                        <div id="modal-info-body">
                            <ul class="nav nav-tabs" id="info-tab"></ul>
                            <div class="tab-content" id="info-pane"></div>
                        </div>
                    </div>
                    <table id="dtable" data-show-toggle="true"></table>

                </div>
                <div role="tabpanel" class="tab-pane" id="layer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tænde og slukke for kortlag.
                    </div>
                    <div class="form-group">
                        <div class="panel-group" id="layers" role="tablist" aria-multiselectable="true"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="baselayer-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du vælge baggrundskort.
                    </div>
                    <div class="panel panel-default">
                        <div class="form-group">
                            <div class="panel-body">
                                <div id="base-layer-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="legend-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her vises signature for tændte kortlag..
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="legend"></div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="draw-content">
                    <div class="alert alert-dismissible alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Her kan du tegne dit eget kort.
                    </div>
                    <div class="alert alert-dismissible alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        TODO. Gem kortet i browserens data store.
                    </div>
                    <div class="togglebutton">
                        <label>
                            <input id="draw-btn" type="checkbox"> Tegning
                        </label>
                    </div>
                    <div class="panel panel-default" id="draw-panel">
                        <div class="panel-body">
                            <div id="draw-table"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="help-content">...</div>

            </div>
        </div>
    </div>
</nav>

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>