<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }

    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
        white-space: nowrap;
    }

    #legend, #header, #date-time, #scale-box {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden; top: 30px; left:30px; border: 1px solid black">
    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
    <div id="header" style="position: absolute; display:block; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); width: 600px; height: 300px; background-color: white; bottom: -100px; right: -210px">
        <div style="position: absolute; top: 140px; left: 280px;"><img style="width: 100px" src="http://www.mapcentia.com/images/__od/863/mapcentialogo.png"></div>
        <b id="title" style="position: absolute; top: 10px; left: 190px;"></b>
        <p id="comment" style="position: absolute; top: 30px; left: 190px; width: 270px;"></p>

    </div>
    <div id="legend" style="position: absolute; top: 5px; left: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.6); -webkit-transform-origin:left top; display: {{_showLegend}}"></div>
        <div id="scalebar" style="position: absolute; bottom: 20px; left: 10px;"></div>
        <div id="scale" style="position: absolute; bottom: 2px; left: 10px; font-size: 0.8em;"></div>

    <div id="date-time" style="position: absolute; top: 0; right: 0; background-color:white;font-size: 0.8em;">{{printDataTime}}</div>

</div>