<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden">
    <div id="scalebar" style="position: absolute; top: 40px; left: 40px"></div>
    <div id="scale" style="position: absolute; top: 140px; left: 140px; z-index: 1"></div>
    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
</div>