<style>
    .navbar .navbar-brand {
        height: 48px;
        line-height: 19px;
    }
</style>
<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>
</div>

<div class="offcanvas offcanvas-bottom show" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
        dsdsd
                <!-- Tab content -->
    </div>
</div>

<script>
    var bsOffcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasBottom'))
    bsOffcanvas.show()
</script>
