<style>
    .history-control {
        display: {{_displayHistory}};
    }

    .leaflet-control-locate {
        display: {{_displayLocation}};
    }

    #offcanvasLayerControlBtn {
        display: {{_displayLayer}};
    }

    .place-search {
        display: {{_displaySearch}};
    }

    .legend-btn {
        display: {{_displayLegend}};
    }

    .baselayer-toggle {
        display: {{_displayBackground}};
    }

    .full-screen-btn {
        display: {{_displayFullscreen}};
    }

    .about-btn {
        display: {{_displayAbout}};
    }

    .reset-btn {
        display: {{_displayReset}};
    }

    .leaflet-control-measurements {
        display: {{_displayMeasurement}};
    }

    .leaflet-clear-map {
        display: {{_displayClear}};
    }

    .leaflet-control-boxzoom {
        display: {{_displayBox}};
    }

    .sign-in-btn {
        display: {{_displaySignin}};
    }

    .leaflet-control-simpleMapScreenshoter {
        display: {{_displayScreenshot}};
    }

    .navbar-brand {
        display: {{_displayBrand}} !important;
    }

    .navbar-toggler {
        display: {{_displayToggler}};
    }

    .baselayer-tool {
        display: none !important;
    }

    .configuration {
        display: {{_displayConfigSwitcher}};
    }
    #conflict-places {
        margin: 0;
        position: fixed;
        top: 0;
        height: 100px;
        width: calc(100% - 20px);
        left: 10px;
    }
    nav {
        display: none !important;
    }

    #hits-data, #conflict-places {
        visibility: visible !important;
    }
    #hits-data {
        position: fixed;
        bottom: 0;
        width: 100%;
        overflow: auto;
        background: var(--bs-body-bg);
        top: 500px;
        right: 0 !important;
        left: 0 !important;
        padding: 4px;
    }

    .offcanvas {
        visibility: hidden !important;
    }
    #pane {
        height: 500px !important;
        right: 0 !important;
    }

</style>
<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map">
            <div class="toast-container position-fixed bottom-0 end-0 p-3 pb-5 me-sm-5">
                <div id="legend-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">{{Legend}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body overflow-auto" id="legend-toast-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="fade-then-dragging">
    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="mainLayerOffcanvas">

        <div class="offcanvas-body" style="scrollbar-gutter: stable">
            <div class="d-flex align-items-start flex-row-reverse">
                <!-- Nav tabs -->
                <div class="sticky-top">
                    <ul class="nav flex-column nav-pills" role="tablist" id="main-tabs"></ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content main-content w-100"></div>
            </div>
        </div>
    </div>




    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasLayerDesc">
        <div class="offcanvas-header mt-5">
            <h5 class="offcanvas-title">Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="offcanvas-layer-desc-container"></div>
    </div>



</div>

<div class="fade-then-dragging">
    <button id="offcanvasLayerControlBtn"
            style="position: absolute; left: 10px; top: 10px; text-transform: uppercase; display: none"
            class="btn btn-light" type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasLayerControl" aria-controls="offcanvasLayerControl">
        <i class="bi bi-geo-alt"></i> Find faciliteter på kort
    </button>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3 me-sm-5">
    <div id="info-toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="info-toast-body"></div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 start-0 p-3" style="z-index: 999999999">
    <div id="update-toast" class="toast" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{New version available}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="d-flex">
            <div class="toast-body">
                <button class='btn btn-primary' id='update-app-btn'>{{Update}}</button>
            </div>
        </div>
    </div>
</div>
