<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }

    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    #legend, #header {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    .table {
     margin-bottom: 4px;
    }
</style>
<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden; top: 30px; left:30px; border: 1px solid black">

    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
    <div id="header" style="position: absolute; display:block; width: 220px; height: 100%; background-color: white; bottom: 0; right: 0px">
        <div style="position: absolute; top: 10px; left: 10px;"><img style="width: 70px" src="http://www.cowi.dk/Style%20Library/Cowi/img/logo.png"></div>
        <b id="title" style="position: absolute; top: 45px; left: 10px;"></b>

        <div id="disclaimer" style="position: absolute; top: 40px; width: 100%; padding-left: 10px; padding-right: 10px; font-size: 0.4em;">
                <p>Data på Detailhandelsportalen er baseret på eksisterende data, der er købt, indhentet og viderebehandlet af COWI.

                COWI står ikke til regnskab for evt. fejl i datakilder, der anvendes på detailhandelsportalen.dk.

                Analyser, der er foretaget via detailhandelsportalen.dk, er alene et udtryk for brugerens vurderinger.</p>
        </div>

        <p id="comment" style="position: absolute; top: 75px; padding-left: 10px; padding-right: 10px; width: 100%; font-size: 0.6em;"></p>

    </div>
    <div id="legend" style="position: absolute; top: 5px; left: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.6); -webkit-transform-origin:left top; display: {{_showLegend}}"></div>
    <div id="scalebar" style="position: absolute; bottom: 5px; left: 5px;"></div>

    <div id="scale" style="position: absolute; bottom: 5px; right: 10px; font-size: 0.8em;"></div>
</div>
