<!-- map -->
<div id="pane">
    <div id="container">
        <div id="map"></div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="about-modalLabel">{{About}}</h4>
            </div>
            <div class="modal-body">
                {{{aboutBox}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div
        class="modal fade"
        id="login-modal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="login-modal-body">.</div>
            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">-->
            <!--                    {{Close}}-->
            <!--                </button>-->
            <!--            </div>-->
        </div>
    </div>
</div>


<!-- KeplerGL Modal -->
<div class="modal fade" id="keplergl-modal" tabindex="-1" role="dialog" aria-labelledby="click-modalLabel">
    <div class="modal-dialog" role="document" style="width: 95%; height: 95%;">
        <div class="modal-content" style="height: 100%;">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                <h3 class="modal-title" id="keplergl-modalLabel">KeplerGL</h3>
            </div>
            <div class="modal-body" id="keplergl-modal-body" style="height: calc(100% - 51px);">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
            </div>
        </div>
    </div>
</div>

<div id="legend-dialog" class="dialog-bottom fade-then-dragging">
    <div class="modal-header">
        <button type="button" class="close close-hide" data-module="legend" aria-hidden="true"><i
                class="material-icons">close</i>
        </button>
        <button type="button" class="close expand-more" aria-hidden="true"><i
                class="material-icons">expand_less</i>
        </button>
        <button type="button" class="close expand-less" aria-hidden="true"><i
                class="material-icons">expand_more</i>
        </button>
        <h3 class="modal-title">{{Legend}}</h3>
    </div>
    <div class="modal-body"></div>
</div>

<div id="editor-attr-dialog" class="dialog-bottom fade-then-dragging">
    <div class="modal-header">
        <button type="button" class="close editor-attr-dialog__close-hide" data-module="editor" aria-hidden="true"><i
                class="material-icons">close</i>
        </button>
        <button type="button" class="close editor-attr-dialog__expand-more" aria-hidden="true"><i
                class="material-icons">expand_less</i>
        </button>
        <button type="button" class="close editor-attr-dialog__expand-less" aria-hidden="true"><i
                class="material-icons">expand_more</i>
        </button>
        <h3 class="modal-title">Attributes</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" id="editor-attr-form"></div>
    </div>
</div>

<div id="vector-layer-table-view-dialog" class="dialog-bottom fade-then-dragging dialog-bottom-wide">
    <div class="modal-header">
        <button type="button" class="close close-hide" data-module="editor" aria-hidden="true"><i
                class="material-icons">close</i>
        </button>
        <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
        </button>
        <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
        </button>
        <h3 class="modal-title">Table view</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" id="vector-layer-table-view-form"></div>
    </div>
</div>

<div id="watsonc-features-dialog" class="dialog-bottom fade-then-dragging dialog-bottom-wide">
    <div class="modal-header">
        <button type="button" class="close close-hide" data-module="editor" aria-hidden="true"><i
                class="material-icons">close</i>
        </button>
        <button type="button" class="close expand-more" aria-hidden="true"><i class="material-icons">expand_less</i>
        </button>
        <button type="button" class="close expand-less" aria-hidden="true"><i class="material-icons">expand_more</i>
        </button>
        <h3 class="modal-title">Watsonc extension</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" id="watsonc-features-dialog-form"></div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Dragøer Kommune</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-3">
                <!-- Tab navs -->
                <div
                        class="nav flex-column nav-tabs text-center"
                        id="v-tabs-tab"
                        role="tablist"
                        aria-orientation="vertical"
                >
                    <a
                            data-module-id="layers"
                            class="nav-link"
                            id="v-tabs-layer-tab"
                            data-mdb-toggle="tab"
                            href="#layer-content"
                            role="tab"
                            aria-controls="v-tabs-messages"
                            aria-selected="false"
                    >{{Layers}}</a>
                    <a
                            data-module-id="infoClick"
                            class="nav-link"
                            id="v-tabs-info-tab"
                            data-mdb-toggle="tab"
                            href="#info-content"
                            role="tab"
                            aria-controls="v-tabs-profile"
                            aria-selected="false"
                    >{{Info}}</a>
                    <a
                            data-module-id="baseLayer"
                            class="nav-link"
                            id="v-tabs-baselayer-tab"
                            data-mdb-toggle="tab"
                            href="#baselayer-content"
                            role="tab"
                            aria-controls="v-tabs-messages"
                            aria-selected="false"
                    >{{Baselayers}}</a>
                    <a
                            data-module-id="legend"
                            class="nav-link"
                            id="v-tabs-legend-tab"
                            data-mdb-toggle="tab"
                            href="#legend-content"
                            role="tab"
                            aria-controls="v-tabs-messages"
                            aria-selected="false"
                    >{{Legend}}</a>
                    <a
                            data-module-id="draw"
                            class="nav-link"
                            id="v-tabs-draw-tab"
                            data-mdb-toggle="tab"
                            href="#draw-content"
                            role="tab"
                            aria-controls="v-tabs-draw"
                            aria-selected="false"
                    >{{Draw}}</a>
                    <a
                            data-module-id="stateSnapshots"
                            class="nav-link"
                            id="v-tabs-stateSnapshots-tab"
                            data-mdb-toggle="tab"
                            href="#state-snapshots-content"
                            role="tab"
                            aria-controls="v-tabs-stateSnapshots"
                            aria-selected="false"
                    >{{State snapshots}}</a>
                    <a
                            data-module-id="print"
                            class="nav-link"
                            id="v-tabs-print-tab"
                            data-mdb-toggle="tab"
                            href="#print-content"
                            role="tab"
                            aria-controls="v-tabs-print"
                            aria-selected="false"
                    >{{Print}}</a>
                </div>
                <!-- Tab navs -->
            </div>

            <div class="col-9">
                <!-- Tab content -->
                <div class="tab-content" id="v-tabs-tabContent">
                    <div
                            class="tab-pane fade"
                            id="layer-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-messages-tab"
                    >
                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Help text overlays}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <div class="form-group" id="layers" role="tablist"></div>
                    </div>
                    <div
                            class="tab-pane fade"
                            id="info-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-profile-tab"
                    >

                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Info text}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <div class="togglebutton">
                            <label>
                                <input id="advanced-info-btn" type="checkbox"> {{Activate advanced query}}
                            </label>
                        </div>
                        <div id="buffer" style="display: none">
                            <div>
                                <label for="buffer-value" class="control-label">{{Buffer}}</label>
                                <input id="buffer-value" class="form-control">
                                <div id="buffer-slider" class="slider shor"></div>
                            </div>
                        </div>
                        <div id="info-box"></div>
                        <table id="dtable" data-show-toggle="true"></table>

                    </div>
                    <div
                            class="tab-pane fade"
                            id="baselayer-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-messages-tab"
                    >
                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Help text baselayers}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <div class="form-group" id="base-layer-list"></div>
                    </div>
                    <div
                            class="tab-pane fade"
                            id="legend-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-messages-tab"
                    >
                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Help text legend}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <a href="#legend-dialog" id="btn-show-legend-in-map" data-module="legend"
                           class="btn btn-raised btn-xs map-tool-btn">{{Show legend on top the map}}</a>
                        <div id="legend" class="legend"></div>
                    </div>
                    <div
                            class="tab-pane fade"
                            id="draw-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-draw-tab"
                    >

                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Help text draw}}')">
                            <i class="material-icons help-btn">help_outline</i>
                        </div>
                        <div></div>
                        <div>
                            <button
                                    class="btn btn-primary"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#draw-collapse"
                                    aria-expanded="false"
                                    aria-controls="collapseExample"
                            >
                                <i class="material-icons">&#xE8B8;</i> {{Line style}}
                            </button>
                            <div id="draw-collapse" class="collapse mt-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="margin: 15px 0 0 10px ">
                                            <h4>{{{Settings for all new drawings}}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <label for="draw-colorpicker-input"
                                               class="col-md-3 control-label">{{Color}}</label>

                                        <div id="draw-colorpicker"
                                             class="input-group colorpicker-component col-md-10">
                                            <input id="draw-colorpicker-input" name="draw-colorpicker-input"
                                                   type="text" value="#ff0000" class="form-control"
                                                   style="margin-left: 15px;"/>
                                            <span class="input-group-addon"><i
                                                    style="margin-left: 10px;"></i></span>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-type"
                                                   class="col-md-3 control-label">{{Type}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-type" name="draw-line-type"
                                                        class="form-control">
                                                    <option value="none">{{Solid}}</option>
                                                    <option value="7, 7">{{Dashed, short}}</option>
                                                    <option value="12, 7">{{Dashed, medium}}</option>
                                                    <option value="17, 7">{{Dashed, long}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-weight"
                                                   class="col-md-3 control-label">{{Weight}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-weight" name="draw-line-weight"
                                                        class="form-control">
                                                    <option value="2">{{X-thin}}</option>
                                                    <option value="3">{{Thin}}</option>
                                                    <option value="4" selected>{{Medium}}</option>
                                                    <option value="5">{{Thick}}</option>
                                                    <option value="6">{{X-Thick}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-type"
                                                   class="col-md-3 control-label">{{Cap}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-cap" name="draw-line-cap"
                                                        class="form-control">
                                                    <option value="butt">{{Butt}}</option>
                                                    <option value="round">{{Round}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-measure"
                                                   class="col-md-3 control-label">{{Measure}}</label>

                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    <label style="margin-top: 5px">
                                                        <input id="draw-measure" name="draw-measure"
                                                               type="checkbox">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="margin: 15px 0 0 10px "><h4>{{{Settings for new lines
                                                                                            only}}}</h4></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-extremity"
                                                   class="col-md-3 control-label">{{Extremities}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-extremity" name="draw-line-extremity"
                                                        class="form-control">
                                                    <option value="none">{{None}}</option>
                                                    <option value="arrowM">{{Arrow}}</option>
                                                    <option value="stopM">{{Stop}}</option>
                                                    <option value="squareM">{{Square}}</option>
                                                    <option value="dotM">{{Dot}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-extremity-size"
                                                   class="col-md-3 control-label">{{Extremity size}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-extremity-size"
                                                        name="draw-line-extremity-size" class="form-control"
                                                        disabled>
                                                    <option value="2">{{X-Small}}</option>
                                                    <option value="3">{{Small}}</option>
                                                    <option value="4" selected>{{Medium}}</option>
                                                    <option value="5">{{Large}}</option>
                                                    <option value="6">{{X-Large}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-extremity-where"
                                                   class="col-md-3 control-label">{{Extremity ends}}</label>

                                            <div class="col-md-10">
                                                <select id="draw-line-extremity-where"
                                                        name="draw-line-extremity-where" class="form-control"
                                                        disabled>
                                                    <option value="1">{{End}}</option>
                                                    <option value="2">{{Start}}</option>
                                                    <option value="3">{{Both}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="draw-line-total-dist"
                                                   class="col-md-3 control-label">{{Total distance}}</label>

                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    <label style="margin-top: 5px">
                                                        <input id="draw-line-total-dist"
                                                               name="draw-line-total-dist"
                                                               type="checkbox" disabled>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <button class="btn btn-sm btn-raised" id="_draw_download_geojson" target="_blank"
                                href="javascript:void(0)">
                            <i class="fa fa-download" aria-hidden="true"></i> GeoJson
                        </button>
                        <button class="btn btn-sm btn-raised" style="display: none"
                                id="_draw_make_conflict_with_selected" target="_blank"
                                href="javascript:void(0)">
                            <i class="fa fa-download" aria-hidden="true"></i> {{Conflict with selected}}
                        </button>
                        <button class="btn btn-sm btn-raised" style="display: none"
                                id="_draw_make_conflict_with_all" target="_blank" href="javascript:void(0)">
                            <i class="fa fa-download" aria-hidden="true"></i> {{Conflict with all}}
                        </button>
                        <div id="draw-table"></div>
                    </div>
                    <div
                            class="tab-pane fade"
                            id="state-snapshots-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-stateSnapshots-tab"
                    >
                        <div class="help-btn"
                             onclick="javascript:createAlert($(this), '{{StateSnapshots description}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <div class="form-group" id="state-snapshots" role="tablist"></div>
                    </div>
                    <div
                            class="tab-pane fade"
                            id="print-content"
                            role="tabpanel"
                            aria-labelledby="v-tabs-print-tab"
                    >

                        <div class="help-btn" onclick="javascript:createAlert($(this), '{{Help text print}}')">
                            <i class="material-icons help-btn">help_outline</i></div>
                        <div></div>
                        <div class="btn-toolbar bs-component" style="margin: 0;">
                            <div class="btn-group">
                                <button id="start-print-btn" class="btn btn-raised start-print-btn"
                                        style="width: 130px"
                                        data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> {{Make PDF}}"
                                        disabled>
                                    <i class='fa fa-cog fa-lg'></i> {{Make PDF}}
                                </button>
                                <button
                                        class="btn btn-raised dropdown-toggle start-print-btn"
                                        data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" id="start-print-png-btn">PNG</a></li>
                                </ul>
                            </div>
                            <fieldset disabled id="get-print-fieldset">
                                <div class="btn-group">
                                    <a target="_blank" href="javascript:void(0)"
                                       class="btn btn-primary btn-raised"
                                       id="open-pdf">{{Open}}</a>
                                    <a href="bootstrap-elements.html"
                                       class="btn btn-primary btn-raised dropdown-toggle"
                                       data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" id="download-pdf">{{Download}}</a></li>
                                        <li>
                                            <a target="_blank" href="javascript:void(0)" id="open-html">{{Open HTML
                                                                                                               page}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <div class="togglebutton">
                                <label>
                                    <input id="print-sticky" type="checkbox">{{Sticky}}
                                </label>
                            </div>
                            <button id="add-print-box-btn" class="btn btn-xs">
                                {{Add new box}}
                            </button>
                            <button id="remove-print-box-btn" class="btn btn-xs">
                                {{Remove last box}}
                            </button>
                        </div>
                        <div>
                            <form class="form-horizontal" id="print-form" role="form" data-toggle="validator">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="select-scale"
                                               class="col-md-2 control-label">{{Scale}}</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" disabled>1: <span
                                                            class="caret"></span></button>
                                                    <ul id="ul-scale"
                                                        class="dropdown-menu dropdown-menu-right"></ul>
                                                </div>
                                                <input type="number" min="200" id="select-scale"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: none">
                                        <label class="col-md-2 control-label">{{Template}}</label>
                                        <div class="col-md-10" id="print-tmpl"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{Page size}}</label>
                                        <div class="col-md-10" id="print-size"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{Orientation}}</label>
                                        <div class="col-md-10" id="print-orientation"></div>
                                    </div>

                                    <div class="form-outline">
                                        <input type="text" class="form-control" id="print-title" disabled>
                                        <label for="print-title" class="col-md-2 form-label">{{Title}}</label>
                                    </div>

                                    <div class="form-outline">
                                        <textarea class="form-control" rows="3" id="print-comment"
                                                  disabled></textarea>
                                        <span class="help-block">{{The comment will be placed on the PDF}}</span>
                                        <label for="print-comment"
                                               class="col-md-2 form-label">{{Comment}}</label>
                                    </div>

                                    <div class="form-group">
                                        <div class="togglebutton">
                                            <label>
                                                <input id="add-legend-btn" type="checkbox" checked
                                                       disabled> {{Show legend on print}}
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tab content -->
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav id="mdb-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-2" style="">
    <div class="container-fluid ">
        <button id="sidenav-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight" type="button" class="btn shadow-0 p-0 me-3 ripple-surface"
                aria-expanded="true" style="min-width: 14px;"><i class="fas fa-bars fa-lg"></i></button>


        <span class="navbar-brand mb-0"><img src="https://www.dragoer.dk/img/6199dr/logo-desktop-2021.svg" style="width: 50px">Dragør Kommune</span>
        <!-- Right links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-flex-icons ml-auto ms-auto flex-row">
                <li class="nav-item" style="margin-right: 10px">
                    <input
                            id="custom-search"
                            type="search"
                            class="form-control rounded custom-search typeahead"
                            placeholder="{{Address}}"
                            aria-label="Search"
                            aria-describedby="search-addon"
                    />
                </li>
                <li class="nav-item lh-1">
                    <a class="nav-link" href="#">Hælp</a>
                </li>
                <li class="nav-item lh-1">
                    <a class="nav-link" href="#">Om</a>
                </li>
                <!-- Icon -->
                <li class="nav-item lh-1">
                    <a class="nav-link" href="#">
                        <i class="fas fa-refresh"></i>
                    </a>
                </li>
                <li class="nav-item dropdown lh-1">
                    <a
                            class="nav-link dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

            <li class="nav-item">
                <a class="auth-modal-toggle btn btn-primary ripple-surface ms-2 me-1" data-mdb-target="#login-modal"
                   data-mdb-toggle="modal" style="min-width: 82px;">Login</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
